# ===============================
# LabStore Server
# ===============================

LS_HOST=localhost
LS_PORT=6789
LS_STORAGE_ROOT=./data
LS_ADMIN_ACCESS_KEY=admin
LS_ADMIN_SECRET_KEY=adminadmin


# ===============================
# Benchmarking
# ===============================

BENCHMARK_IPERF3_HOST=localhost

BENCHMARK_LABSTORE_HOST=localhost:6789
BENCHMARK_MINIO_HOST=localhost:9000
BENCHMARK_GARAGE_HOST=localhost:3900
BENCHMARK_SEAWEEDFS_HOST=localhost:8333
BENCHMARK_RUSTFS_HOST=localhost:10000

BENCHMARK_ACCESS_KEY=admin
BENCHMARK_SECRET_KEY=adminadmin
BENCHMARK_REGION=eu-west-1
BENCHMARK_TLS=false
