# ===============================
# LabStore Server
# ===============================

LS_HOST=0.0.0.0
LS_PORT=6789
LS_STORAGE_ROOT=./data
LS_ADMIN_ACCESS_KEY=admin
LS_ADMIN_SECRET_KEY=adminadmin


# ===============================
# Benchmarking
# ===============================

BENCHMARK_STORE_ACCESS_KEY=admin
BENCHMARK_STORE_SECRET_KEY=adminadmin
BENCHMARK_STORE_TLS=false

# -------------------------------
# Optional (Defaults)
# -------------------------------

# BENCHMARK_HOST=localhost

# BENCHMARK_STORE_REGION=eu-west-1

# BENCHMARK_IPERF3_PORT=5201
# BENCHMARK_LABSTORE_PORT=6789
# BENCHMARK_MINIO_PORT=9000
# BENCHMARK_GARAGE_PORT=3900
# BENCHMARK_SEAWEEDFS_PORT=8333
# BENCHMARK_RUSTFS_PORT=10000
